#s-css-s--menu {
    position: absolute;
    top: .5em;
    right: .5em;
    color: #fff;
    background-color: olive;
    padding: 1em;
    border: .2em inset #a6a659;
}
.s-css-s--button:focus {
    outline: 0 none;
}
.s-css-s--button {
    display: block;
    width: 100%;
    margin: .2em;
    color: inherit;
    background-color: inherit;
    padding: .2em .4em;
    border-color: #a6a659;
}
.s-css-s--active-style {
    border-style: inset;
}
.s-css-s--active-style:before {
    content: '▶';
    position: relative;
    left: -.5em;
}
.s-css-s--main-css {
    color: #eee;
    background-color: #2c2c2c;
}
.s-css-s--red-css {
    color: #dcd;
    background-color: #2e0505;
}
.s-css-s--green-css {
    color: #ddd;
    background-color: #122112;
}
.s-css-s-style--default .s-css-s--idx,
.s-css-s-style--titles .s-css-s--idx,
.s-css-s-style--themes-numbers .s-css-s--title,
.s-css-s-style--numbers .s-css-s--title,
.s-css-s-style--titles #s-css-s--menu-title,
.s-css-s-style--numbers #s-css-s--menu-title,
.s-css-s-style--default .s-css-s--wrapper,
.s-css-s-style--themes-numbers .s-css-s--wrapper,
.s-css-s-style--themes-all .s-css-s--wrapper {
    display: none;
}
.s-css-s-style--themes-all .s-css-s--idx:after {
    content: '.';
    margin-right: .2em;
}
#s-css-s--menu-title:hover,
.s-css-s--button:hover{
    cursor: pointer;
}
.s-css-s-style--default .s-css-s--menu-visible,
.s-css-s-style--themes-numbers .s-css-s--menu-visible,
.s-css-s-style--themes-all .s-css-s--menu-visible {
    display: block;
}
